{{ form_start(form2) }}
    {{ form_widget(form2) }}

<select name="monselect" id="monselect"></select>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    
{{ form_end(form2) }}
