{% block body %}


	<div class="row">
		<h1>tâches terminées</h1>
		{% for user in tasks|filter( user => user.user == app.user and user.status.id == 3)  %}

			<div class="card text-white bg-secondary m-5" style="max-width: 18rem;">
				<div class="card-header">tâche n°
					{{ (user.id) }}</div>
				<div class="card-body">
					<h5 class="card-title">Description:
					</h5>
					<p class="card-text">{{ (user.description) }}</p>
				</div>
				<div class="card-footer bg-dark">{{ (user.user.nom) }}
					{{ (user.user.prenom) }}
				</div>
			</div>
		{% endfor %}
	</div>


{% endblock %}

